<p>@server.Name is in @server.City that is @(server.IsOnline ? "online": "offline") </p>

@code {

    private Server server = new Server{
        Name = "Server one",
        City = "Český Těšín",
    };
}
